
/* WARTOŚCI WSPÓLNE */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Cinzel", serif;
    font-size: 20px;
    color: rgb(53, 55, 54);
}

p, h1 {
    margin: 10px;
    padding: 0;
}
h2 {
    margin: 10px;
    padding: 0;
    text-align: left;
    font-size: 0.8em;
}
.srodkuj {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3% 0;
}
.dzial_naglowek {
    text-align: center;
    font-size: 2em;
    color: rgb(29, 29, 29);
}
.dzial_opis {
    margin-bottom: 2%;
    text-align: center;
    line-height: 30px;
}
.anchor {
    display: block;
    height: 95px;
    margin-top: -95px;
    visibility: hidden;
}


/* MENU */

#kon_menu {
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 10px 0;
    background: rgb(255,255,255);
    box-shadow: 0 0 5px rgb(10,10,10);
    z-index: 1;
   
}

#kon_menu img {
    float: left;
    vertical-align: middle;
    margin-left: 10px;
    width: 80px;
    height: 80px;


}
.linki_menu {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.linki_menu li {
    padding: 10px 15px;
    float: left;
    vertical-align: middle;
    text-align: center;
    margin-top: 15px;
    
}

.linki_menu li a {
    text-decoration: none;
    vertical-align: middle;
    color: rgb(0,0,0);
    font-size: .9em;
}
.linki_menu li a:hover {
    text-decoration: underline;
}
.pokaz_menu {
    display: none;
}
    

/*TOP STRONY*/

#top_strony {
    width: 100%;
    height: 100%;
    background: url(../images/top_strony.svg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: rgb(0, 0, 0);
    overflow: auto;

}
#top_strony p {
    margin-top: 5%;
}
#top_strony p a {
    padding: 25px 80px;
    background:linear-gradient( 205deg, rgb(136, 160, 113) 30%, rgb(78, 108, 78) 70%);
    color: rgb(53, 55, 54);
    text-decoration: none;
    transition: background .9s, color .9s;
}
#top_strony p a:hover {
    background: linear-gradient( 205deg, rgb(53,55,54) 30%, rgb(84, 79, 79) 70%);
    color: rgb(136, 160, 113);
}

/* O NAS */

#kon_o_nas {
    width: 100%;
    padding-bottom: 5%;
    background: rgb(255,255,255);
    overflow: auto;
    color: rgb(53, 55, 54);
    border-bottom: 1px solid rgb(189, 205, 197);
}

/* ZAJĘCIA */

#kon_zajecia {
    width: 100%;
    overflow: auto;
}
#kon_zajecia p {
    text-align: center;
}
#haslo {
    width: 100%;
    height: 100%;
    background: url(../images/haslo.svg) no-repeat center;
    background-size: cover;
    text-align: center;
    overflow: auto;
}
#rodzaje_zajec {
    text-align: center;
    border-bottom: 1px solid rgb(189, 205, 197);
}
#rodzaje_zajec img{
    width: 200px;
    height: 200px;
}


/* CENNIK */

#kon_cennik {
    width: 100%;
    padding-bottom: 5%;
    background: rgb(255, 255, 255);
    overflow: auto;
    border-bottom: 1px solid rgb(189, 205, 197);
}
.boks_cennik {
    width: 18%;
    height: 320px;
    float: left;
    margin-right: 2.3%;
    padding: 2.5%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(53, 55, 54);
    cursor: pointer;
}
.boks_cennik:hover {
    box-shadow: 0 0 7px rgb(61, 58, 58);
}
.boks_cennik:last-child {
    margin-right: 0;
}
.boks_vip {
    background: rgb(53, 55, 54);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.boks_vip:hover {
    box-shadow: 0 0 7px rgb(37, 36, 35);

}
.karnet_cennik {
    margin-top: 2%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.boks_cennik li {
    margin-bottom: 15px;
}
.boks_cennik ul {
    height: 260px;
    margin: 10px 0;
    padding: 0px;
    list-style: none;
    font-size: .7em;
    text-align: center;
}
.boks_cennik ul li {
    padding: 3px 0;
}

#kon_cennik p {
    margin-bottom: 20px;
}

/* KONTAKT */

#kon_kontakt {
    width: 100%;
    padding-bottom: 2%;
    overflow: auto;
}
#mapa {
    width: 100%;
    height: 600px;
    text-align: center;
    border-bottom: 1px solid rgb(180,180,180);
}
#tresc_mapa p {
    margin: 5px 0;
}
#kon_formularz {
    width: 100%;
    padding-bottom: 2%;
    overflow: auto;
}
#kon_formularz p {
    margin-top: 40px;
    margin-bottom: 40px;
}
.okienko_formularz {
    width: 97.7%;
    padding: 1%;
    background: rgb(223, 225, 224);
    border: 1px solid rgb(243, 239, 239);
}
.okienko_formularz h3 {
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 1.2em;
}
.okienko_formularz input {
    width: 47%;
    padding: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 1px solid rgb(200,200,200);
    font-size: 1em;
}
.okienko_formularz input:nth-of-type(2n) {
    margin-right: 0;
}
.okienko_formularz input:focus {
    outline: none;
    border: 1px solid rgb(219,192,146);
}
.okienko_formularz textarea {
    width: 97.5%;
    height: 130px;
    padding: 1%;
    border: 1px solid rgb(220,220,220);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    resize: none;
}
.okienko_formularz textarea:focus {
    outline: none;
    border: 1px solid rgb(219,192,146);
}
.wyslij {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 15px 30px;
    background: rgb(40, 40, 40);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background .5s, border .5s;
}
.wyslij:hover {
    background: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
    border: 1px solid rgb(56,40,14);
}
/* STOPKA */

.footer {
    padding: 30px 40px;
    background: rgb(223, 225, 224);
    color: rgb(53, 55, 54);
    font-size: .6em;
    border-top: 1px solid rgb(243, 239, 239);
    box-shadow: 0 0 5px rgb(96, 96, 96);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.kon_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer_logo img {
    height: 80px;
}
.footer_links a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(53,55,54);
    transition: color 0.3s ease;
}
.footer_links a:hover {
    color: rgb(0,0,0);
}

.footer_2 {
    padding: 40px 40px;
    background: rgb(223, 225, 224);
    color: rgb(53, 55, 54);
    font-size: .6em;
    border-top: 1px solid rgb(243, 239, 239);
    box-shadow: 0 0 5px rgb(96, 96, 96);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.kon_footer_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer_2_media a {
    text-decoration: none;
}
.logo {
    height: 30px;
    width: 30px; 
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease;
}
.logo:hover {
    filter: brightness(1.5);
    transform: scale(1.05);
}






