@media screen and (max-width: 414px) {

/* STOPKA */

    .footer {
        padding: 30px 0;
    }
}

@media screen and (max-width: 1050px) {

/* CENNIK */    

    .boks_cennik {
        width: 42.4%;
        height: auto;
        margin-bottom: 2.3%;
    }
    .boks_oferta:nth-of-type(2n) {
        margin-right: 0;
    }
    #haslo {
        height: 600px;
        width: auto;
        background: url(../images/haslo_mobilne.svg) no-repeat center;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {

/* WARTOŚCI WSPÓLNE */

    .srodkuj {
        width: 95%;
    }
    .dzial_naglowek {
        margin: 5% 0;
        line-height: 45px;
    }
    .dzial_opis {
        line-height: 25px;
    }

/* MENU */

    #kon_menu {
        top: -434px;
        padding: 0;
    }
    #kon_menu img {
        width: 100%;
        float: none;
        margin-top: 10px;
        margin-left: 0;
        padding: 10px 0;
    }
    .linki_menu {
        width: 100%;
        margin-bottom: 10px;
    }
    .linki_menu li {
        width: 100%;
        float: none;
        padding: 10px 0;
    }
    .pokaz_menu {
        margin: 0;
        display: block;
        padding: 15px;
        background: rgb(53,55,54);
        text-align: center;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .anchor {
        display: block;
        height: 55px;
        margin-top: -55px;
        visibility: hidden;
    }

/* TOP STRONY */

    #top_strony {
        background: url(../images/top_strony_mobilne.svg) no-repeat center;
        background-size: cover;
    }
    #top_strony h1 {
        margin-top: 25%;
        font-size: 2em;
    }
    #top_strony h2 {
        font-size: 1em;
        line-height: 30px;
    }
    #top_strony p {
        margin-top: 10%;
    }
    #top_strony p a {
        padding: 15px 40px;
    }

/* CENNIK */

    .boks_cennik {
        width: auto;
        height: 250px;
        float: none;
        margin-right: 0;
        margin-bottom: 5%;
        text-align: center;
    }

/* ZAJĘCIA */

    #haslo {
        height: 600px;
        background: url(../images/haslo_mobilne.svg) no-repeat center;
        background-size: cover;
    }

/* KONTAKT */

    #kon_kontakt h2 {
        text-align: center;
    }
    #kon_formularz p {
        padding: 0 10px;
    }

    #mapa {
    height: 400px;
    }
    .okienko_formularz h3 {
        text-align: center;
        padding-bottom: 10px;
    }
    .okienko_formularz input {
        width: 93%;
        padding: 3%;
        margin-right: 0%;
        margin-bottom: 3%;
    }
    .okienko_formularz textarea {
        width: 93%;
        padding: 3%;
    }

/* STOPKA */
   .kon_footer {
    flex-direction: column;
    align-items: center;
   }
   .footer_links {
    margin-top: 15px;
    gap: 10px;
   }
   .footer_links a {
    margin-left: 10px;
    margin-right: 10px;
   }
   .kon_footer_2 {
    flex-direction: column;
    align-items: center;
   }
   .footer_2_media {
    margin-top: 15px;
    gap: 10px;
   }
   .footer_2_media img {
    margin-left: 10px;
    margin-right: 10px;
   }
}




